<html>
	<head>
		<title>TODO List</title>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<Link href="/assets/styles.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<h1>My TODO list</h1>
		<div id="todo-table">
			<form method="POST">
				<input type="text" id="name" name="name" placeholder="add new name..." required />
				<input type="text"  id="item" name="item" placeholder="add new item..." required />
				<button type="submit">Add Item</button>
			</form>
			<ul>
				<% for(var i=0; i< todos.length; i++){ %>
					<li data-item="<%= todos[i]._id %>"><%= todos[i].item %> task for <%= todos[i].name %></li>
				<% } %>
			</ul>
		</div>
	</body>
<script src="/assets/todo-list.js"></script>
</html>
